<form action="submitForm()" method="POST" role="form">
  <legend>Edit your server</legend>
  <span class="label label-success" *ngIf="serverCreated"
    >Server {{ serverName }} was created for user {{ userName }}</span
  >

  <div class="mb-3">
    <label for="" class="form-label">Server name</label>
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder=""
    />
    <small id="helpId" class="form-text text-muted">My-server</small>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Server adress</label>
    <input
      type="url"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder=""
    />
    <small id="helpId" class="form-text text-muted"
      >https://your-adress.com</small
    >
  </div>

  <div class="mb-3">
    <label for="" class="form-label">interval in milliseconds</label>
    <input
      type="number"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder=""
    />
    <small id="helpId" class="form-text text-muted">500</small>
  </div>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="inputIsEmpty()"
    (click)="onSubmitFormButtonClick()"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-error m-3"
    [disabled]="inputIsEmpty()"
    (click)="onSubmitFormButtonClick()"
  >
    Cancel
  </button>
</form>
