<mat-table [dataSource]="servers$ | async">
  <ng-container matColumnDef="server">
    <mat-header-cell mat-header-cell *matHeaderCellDef
      >Server Name</mat-header-cell
    >
    <mat-cell mat-cell *matCellDef="let server">{{ server.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell mat-header-cell *matHeaderCellDef
      >Status of Server</mat-header-cell
    >
    <mat-cell
      mat-cell
      *matCellDef="let server"
      [ngStyle]="{ color: server.isOnline ? 'green' : 'red' }"
      >{{ server.isOnline ? "online" : "offline" }}</mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<button mat-fab class="mt-3" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
