<table class="table table-striped table-responsive">
  <thead class="thead-default">
    <tr>
      <th>servers</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let statusServer of serversAndStatuses">
      <td scope="row">
        <app-server-item
          [serverName]="statusServer.serverName"
        ></app-server-item>
      </td>
      <td scope="row">
        <app-status-item
          [statusName]="statusServer.statusName"
        ></app-status-item>
      </td>
    </tr>
  </tbody>
</table>
