<app-navbar></app-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12">
      <form action="submitForm()" method="POST" role="form">
        <legend>Add a server</legend>
        <span class="label label-success" *ngIf="serverCreated"
          >Server {{ serverName }} was created for user {{ userName }}</span
        >

        <div class="form-group">
          <label for="inputServerName">Server Name</label>
          <input
            type="text"
            name="serverName"
            id="inputServerName"
            class="form-control"
            title="Server name"
            [(ngModel)]="serverName"
          />
          <label for="input\u\1">User Name</label>
          <input
            type="text"
            name="userName"
            id="input\u\1"
            class="form-control"
            title="User name"
            [(ngModel)]="userName"
          />
        </div>
        <button
          type="button"
          class="btn btn-primary mt-3 mb-3"
          [disabled]="inputIsEmpty()"
          (click)="onSubmitFormButtonClick()"
        >
          Add Server
        </button>
      </form>
      <app-servers></app-servers>
    </div>
  </div>
</div>
