<div class="container">
  <div class="header"><h1>Welcome to my App!</h1></div>
  <nav class="nav justify-content-center menu">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled link</a>
  </nav>
  <div class="hero">
    <p>Get to know grid!</p>
    <section>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi architecto
      iure sapiente rem rerum culpa repellendus? Inventore, incidunt odit dolore
      praesentium maiores laboriosam suscipit, iusto magni, dolorem at commodi
      et neque deleniti illo sed nemo iste libero numquam doloremque provident!
      Consectetur vero perferendis fuga mollitia, aperiam corrupti similique
      incidunt in aliquam reprehenderit soluta temporibus quas, odit porro
      blanditiis. Qui cupiditate veniam placeat id necessitatibus velit
      molestiae eligendi, quas aperiam itaque vero est consequatur possimus quam
      delectus odio nostrum at quibusdam commodi illo! Consequuntur non, quis
      iste eos quas iure amet. Veritatis totam provident, facere nam nemo saepe
      ratione, sunt officia quae a earum exercitationem cupiditate, dicta
      pariatur non nihil iusto nobis beatae molestiae ipsa sed. Necessitatibus,
      quaerat consectetur ratione corrupti, placeat est eaque hic quas
      architecto dolorum accusantium excepturi quam sed, unde laboriosam
      quisquam. Dignissimos, possimus animi provident sed aut modi, eos eaque
      dicta dolore quos numquam quis eveniet? Excepturi, sequi iste dolor
      quisquam nostrum modi nemo, aliquam quo vel asperiores inventore
      consectetur ad aperiam ipsa doloribus magnam et? Maiores magnam itaque
      aliquid officiis vitae veniam facere molestias, tempore explicabo nobis?
      Atque provident fuga totam laborum tempora cum temporibus debitis officia
      corrupti cupiditate dolores itaque eos reprehenderit non, facilis id!
    </section>
  </div>
  <article class="main">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum
    ratione laudantium, doloremque qui odio rerum nulla maiores mollitia quia
    laboriosam omnis esse veritatis a molestias voluptatem fugiat quasi labore
    magni inventore ducimus dolorem provident, at molestiae? Sapiente quas, qui
    at laboriosam hic mollitia reprehenderit nostrum suscipit porro voluptas
    voluptatem blanditiis est id libero deserunt delectus, maxime neque facere
    dignissimos aperiam expedita dolorum. Nihil incidunt in, tempora mollitia
    cupiditate quos laudantium reprehenderit. Quidem ut deleniti numquam?
    Provident ut repellat delectus. Magni dignissimos aliquid quasi labore
    exercitationem, tenetur, fuga, iusto eum placeat ab eaque? Nobis velit iusto
    cumque dolores ab minima!
  </article>
  <div class="banner">
    <h3>Get discount on course!</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      molestias accusantium quasi neque illo ratione ea consequuntur architecto.
      Accusantium numquam maiores blanditiis excepturi dolores quis dolorum
      eaque ipsa, voluptatum, modi cumque beatae nemo eos. Veritatis, reiciendis
      commodi nisi incidunt ipsam modi ullam sapiente ab, laborum tempora porro
      odio magnam repellendus.
    </p>
  </div>
  <footer class="footer">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam incidunt ad
    officiis amet quas quod fuga impedit saepe facilis quae asperiores molestiae
    eum ratione, suscipit itaque enim corrupti alias dolorem.
  </footer>
</div>
