<h2 mat-dialog-title>Add new Server</h2>
<mat-dialog-content>
  <form mat-form [formGroup]="form" class="my-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" formControlName="name" required />
      <mat-error *ngIf="name.errors?.['minlength']">
        Name must be at least 1 character long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Url</mat-label>
      <input matInput id="url" type="url" formControlName="url" required />
      <mat-error *ngIf="url.errors?.['pattern']">
        Input should be a URL
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button
    [ngClass]="
      isValid() ? 'mat-raised-button mat-primary' : 'mat-button disabled'
    "
    (click)="save()"
    [disabled]="!isValid()"
  >
    Save
  </button>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
